:root {
  --color-bg: white;
  --color-text: #111111;
  --color-header: #151515;
  --color-active: deepskyblue;
  --copy-color: #888888;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--color-header);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header a {
  color: var(--color-bg);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

header a:hover {
  text-decoration: underline;
}

footer {
  color: var(--copy-color);
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 90px - 22px); /** -85px => -90px */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-text);
}

main a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  cursor: default;
}
